openapi: 3.2.0
info:
  title: Nortech Signal API
  version: 1.0.0
  contact:
    name: Nortech AI
    url: https://nortech.ai
    email: support@nortech.ai
  summary: HTTP API for Nortech AI. Contact Nortech AI support for access.
  description: "This API is structured between three main API groups:\n* **Metadata API** - To navigate and get information about your assets.\n* **Signal Data API** - To query all signal data produced from your assets.\n* **Deriver API** - To create and manage derivers that produce computed signals.\n\n# Pagination\nAll `List` Endpoints support cursor pagination. In this pagination model, the client receives a `next.token` field in the response, \nwhich can be used as a `nextToken` query parameter to fetch the next page of results. \nThe `size` parameter defines the maximum number of results to return, the `sortBy` and `sortOrder` parameters define the field to sort by and its order."
  x-logo:
    url: https://branding-api.apps.nor.tech/logo-light
    backgroundColor: '#fafafa'
    altText: Nortech AI
    href: https://nortech.ai
servers:
- url: https://api.apps.nor.tech
  description: HTTP API for Nortech AI
security:
- Bearer Token: []
tags:
- name: Signal
  description: This API includes endpoints that allow you to interact with `Signals` metadata.
paths:
  /api/v1/workspaces/{workspace}/assets/{asset}/divisions/{division}/units/{unit}/signals:
    get:
      operationId: v1.metadata.signal.listWorkspaceAssetDivisionUnitSignals
      summary: List Workspace Asset Division Unit Signals
      description: List all `Signals` in a `Workspace/Asset/Division/Unit` group by their `Names`.
      tags:
      - Signal
      parameters:
      - name: workspace
        in: path
        required: true
        schema:
          type: string
          description: '`Name` of the `Workspace`'
          examples:
          - Workspace 1
      - name: asset
        in: path
        required: true
        schema:
          type: string
          description: '`Name` of the `Asset`'
          examples:
          - Asset 1
      - name: division
        in: path
        required: true
        schema:
          type: string
          description: '`Name` of the `Division`'
          examples:
          - Division 1
      - name: unit
        in: path
        required: true
        schema:
          type: string
          description: '`Name` of the `Unit`'
          examples:
          - Unit 1
      - name: size
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 100
        allowEmptyValue: true
        allowReserved: true
      - name: nextToken
        in: query
        schema:
          type: string
        allowEmptyValue: true
        allowReserved: true
      - name: sortBy
        in: query
        schema:
          enum:
          - id
          - name
          - physicalUnit
          - dataType
          - description
          - longDescription
          - workspace
          - asset
          - division
          - unit
          type: string
        allowEmptyValue: true
        allowReserved: true
      - name: sortOrder
        in: query
        schema:
          anyOf:
          - const: asc
          - const: desc
          default: asc
        allowEmptyValue: true
        allowReserved: true
      responses:
        '200':
          description: '`Signal` list'
          content:
            application/json:
              schema:
                type: object
                properties:
                  size:
                    type: integer
                    minimum: 0
                    maximum: 9007199254740991
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          minimum: 1
                          maximum: 9007199254740991
                          description: '`ID` of the `Signal`'
                          examples:
                          - 10000
                        name:
                          type: string
                          description: '`Name` of the `Signal`'
                          examples:
                          - Signal 1
                        physicalUnit:
                          type: string
                          description: Physical unit of the `Signal`
                          examples:
                          - m/s
                        dataType:
                          anyOf:
                          - const: float
                          - const: boolean
                          - const: string
                          - const: json
                          description: '`Data type` of the `Signal`'
                        description:
                          anyOf:
                          - type: string
                          - type: 'null'
                          description: '`Description` of the `Signal`'
                          examples:
                          - Signal description
                        longDescription:
                          anyOf:
                          - type: string
                          - type: 'null'
                          description: Long description of the `Signal`
                          examples:
                          - Signal description
                        workspace:
                          type: object
                          properties:
                            id:
                              type: integer
                              minimum: 1
                              maximum: 9007199254740991
                              description: '`ID` of the `Workspace`'
                              examples:
                              - 10000
                            name:
                              type: string
                              description: '`Name` of the `Workspace`'
                              examples:
                              - Workspace 1
                          required:
                          - id
                          - name
                        asset:
                          type: object
                          properties:
                            id:
                              type: integer
                              minimum: 1
                              maximum: 9007199254740991
                              description: '`ID` of the `Asset`'
                              examples:
                              - 10000
                            name:
                              type: string
                              description: '`Name` of the `Asset`'
                              examples:
                              - Asset 1
                          required:
                          - id
                          - name
                        division:
                          type: object
                          properties:
                            id:
                              type: integer
                              minimum: 1
                              maximum: 9007199254740991
                              description: '`ID` of the `Division`'
                              examples:
                              - 10000
                            name:
                              type: string
                              description: '`Name` of the `Division`'
                              examples:
                              - Division 1
                          required:
                          - id
                          - name
                        unit:
                          type: object
                          properties:
                            id:
                              type: integer
                              minimum: 1
                              maximum: 9007199254740991
                              description: '`ID` of the `Unit`'
                              examples:
                              - 10000
                            name:
                              type: string
                              description: '`Name` of the `Unit`'
                              examples:
                              - Unit 1
                          required:
                          - id
                          - name
                      required:
                      - id
                      - name
                      - physicalUnit
                      - dataType
                      - description
                      - longDescription
                      - workspace
                      - asset
                      - division
                      - unit
                      additionalProperties: false
                  next:
                    type: object
                    properties:
                      token:
                        type: string
                      href:
                        type: string
                        format: uri
                        examples:
                        - https://api.apps.nor.tech/api/v1/workspaces/{workspace}/assets/{asset}/divisions/{division}/units/{unit}/signals?nextToken=abc
                    required:
                    - token
                    - href
                required:
                - size
                - data
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    const: Validation Error
                  details:
                    $schema: https://json-schema.org/draft/2020-12/schema
                    type: string
                required:
                - status
                - details
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    const: Unauthorized
                required:
                - status
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  description: Workspace not found
                  properties:
                    status:
                      const: Workspace not found
                  required:
                  - status
                - type: object
                  description: Asset not found
                  properties:
                    status:
                      const: Asset not found
                  required:
                  - status
                - type: object
                  description: Division not found
                  properties:
                    status:
                      const: Division not found
                  required:
                  - status
                - type: object
                  description: Unit not found
                  properties:
                    status:
                      const: Unit not found
                  required:
                  - status
  /api/v1/workspaces/{workspace}/assets/{asset}/divisions/{division}/units/{unit}/signals/{signal}:
    get:
      operationId: v1.metadata.signal.getWorkspaceAssetDivisionUnitSignal
      summary: Get Workspace Asset Division Unit Signal
      description: Get a `Signal` in a `Workspace/Asset/Division/Unit` group by their `Names`.
      tags:
      - Signal
      parameters:
      - name: workspace
        in: path
        required: true
        schema:
          type: string
          description: '`Name` of the `Workspace`'
          examples:
          - Workspace 1
      - name: asset
        in: path
        required: true
        schema:
          type: string
          description: '`Name` of the `Asset`'
          examples:
          - Asset 1
      - name: division
        in: path
        required: true
        schema:
          type: string
          description: '`Name` of the `Division`'
          examples:
          - Division 1
      - name: unit
        in: path
        required: true
        schema:
          type: string
          description: '`Name` of the `Unit`'
          examples:
          - Unit 1
      - name: signal
        in: path
        required: true
        schema:
          type: string
          description: '`Name` of the `Signal`'
          examples:
          - Signal 1
      responses:
        '200':
          description: '`Signal` details'
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    minimum: 1
                    maximum: 9007199254740991
                    description: '`ID` of the `Signal`'
                    examples:
                    - 10000
                  name:
                    type: string
                    description: '`Name` of the `Signal`'
                    examples:
                    - Signal 1
                  createdAt:
                    type: string
                    format: date-time
                    x-native-type: date
                    description: '`Creation Date` of the `Signal`'
                  updatedAt:
                    type: string
                    format: date-time
                    x-native-type: date
                    description: '`Update Date` of the `Signal`'
                  physicalUnit:
                    type: string
                    description: Physical unit of the `Signal`
                    examples:
                    - m/s
                  dataType:
                    anyOf:
                    - const: float
                    - const: boolean
                    - const: string
                    - const: json
                    description: '`Data type` of the `Signal`'
                  description:
                    anyOf:
                    - type: string
                    - type: 'null'
                    description: '`Description` of the `Signal`'
                    examples:
                    - Signal description
                  longDescription:
                    anyOf:
                    - type: string
                    - type: 'null'
                    description: Long description of the `Signal`
                    examples:
                    - Signal description
                  workspace:
                    type: object
                    properties:
                      id:
                        type: integer
                        minimum: 1
                        maximum: 9007199254740991
                        description: '`ID` of the `Workspace`'
                        examples:
                        - 10000
                      name:
                        type: string
                        description: '`Name` of the `Workspace`'
                        examples:
                        - Workspace 1
                    required:
                    - id
                    - name
                  asset:
                    type: object
                    properties:
                      id:
                        type: integer
                        minimum: 1
                        maximum: 9007199254740991
                        description: '`ID` of the `Asset`'
                        examples:
                        - 10000
                      name:
                        type: string
                        description: '`Name` of the `Asset`'
                        examples:
                        - Asset 1
                    required:
                    - id
                    - name
                  division:
                    type: object
                    properties:
                      id:
                        type: integer
                        minimum: 1
                        maximum: 9007199254740991
                        description: '`ID` of the `Division`'
                        examples:
                        - 10000
                      name:
                        type: string
                        description: '`Name` of the `Division`'
                        examples:
                        - Division 1
                    required:
                    - id
                    - name
                  unit:
                    type: object
                    properties:
                      id:
                        type: integer
                        minimum: 1
                        maximum: 9007199254740991
                        description: '`ID` of the `Unit`'
                        examples:
                        - 10000
                      name:
                        type: string
                        description: '`Name` of the `Unit`'
                        examples:
                        - Unit 1
                    required:
                    - id
                    - name
                required:
                - id
                - name
                - createdAt
                - updatedAt
                - physicalUnit
                - dataType
                - description
                - longDescription
                - workspace
                - asset
                - division
                - unit
                additionalProperties: false
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    const: Validation Error
                  details:
                    $schema: https://json-schema.org/draft/2020-12/schema
                    type: string
                required:
                - status
                - details
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    const: Unauthorized
                required:
                - status
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  description: Workspace not found
                  properties:
                    status:
                      const: Workspace not found
                  required:
                  - status
                - type: object
                  description: Asset not found
                  properties:
                    status:
                      const: Asset not found
                  required:
                  - status
                - type: object
                  description: Division not found
                  properties:
                    status:
                      const: Division not found
                  required:
                  - status
                - type: object
                  description: Unit not found
                  properties:
                    status:
                      const: Unit not found
                  required:
                  - status
                - type: object
                  description: Signal not found
                  properties:
                    status:
                      const: Signal not found
                  required:
                  - status
  /api/v1/workspaces/{workspace}/signals:
    get:
      operationId: v1.metadata.signal.listWorkspaceSignals
      summary: List Workspace Signals
      description: List all `Signals` in a `Workspace` by its `IDs`.
      tags:
      - Signal
      parameters:
      - name: workspace
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
          maximum: 9007199254740991
          description: '`ID` of the `Workspace`'
          examples:
          - 10000
      - name: size
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 100
        allowEmptyValue: true
        allowReserved: true
      - name: nextToken
        in: query
        schema:
          type: string
        allowEmptyValue: true
        allowReserved: true
      - name: sortBy
        in: query
        schema:
          enum:
          - id
          - name
          - physicalUnit
          - dataType
          - description
          - longDescription
          - workspace
          - asset
          - division
          - unit
          type: string
        allowEmptyValue: true
        allowReserved: true
      - name: sortOrder
        in: query
        schema:
          anyOf:
          - const: asc
          - const: desc
          default: asc
        allowEmptyValue: true
        allowReserved: true
      responses:
        '200':
          description: '`Signal` list'
          content:
            application/json:
              schema:
                type: object
                properties:
                  size:
                    type: integer
                    minimum: 0
                    maximum: 9007199254740991
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          minimum: 1
                          maximum: 9007199254740991
                          description: '`ID` of the `Signal`'
                          examples:
                          - 10000
                        name:
                          type: string
                          description: '`Name` of the `Signal`'
                          examples:
                          - Signal 1
                        physicalUnit:
                          type: string
                          description: Physical unit of the `Signal`
                          examples:
                          - m/s
                        dataType:
                          anyOf:
                          - const: float
                          - const: boolean
                          - const: string
                          - const: json
                          description: '`Data type` of the `Signal`'
                        description:
                          anyOf:
                          - type: string
                          - type: 'null'
                          description: '`Description` of the `Signal`'
                          examples:
                          - Signal description
                        longDescription:
                          anyOf:
                          - type: string
                          - type: 'null'
                          description: Long description of the `Signal`
                          examples:
                          - Signal description
                        workspace:
                          type: object
                          properties:
                            id:
                              type: integer
                              minimum: 1
                              maximum: 9007199254740991
                              description: '`ID` of the `Workspace`'
                              examples:
                              - 10000
                            name:
                              type: string
                              description: '`Name` of the `Workspace`'
                              examples:
                              - Workspace 1
                          required:
                          - id
                          - name
                        asset:
                          type: object
                          properties:
                            id:
                              type: integer
                              minimum: 1
                              maximum: 9007199254740991
                              description: '`ID` of the `Asset`'
                              examples:
                              - 10000
                            name:
                              type: string
                              description: '`Name` of the `Asset`'
                              examples:
                              - Asset 1
                          required:
                          - id
                          - name
                        division:
                          type: object
                          properties:
                            id:
                              type: integer
                              minimum: 1
                              maximum: 9007199254740991
                              description: '`ID` of the `Division`'
                              examples:
                              - 10000
                            name:
                              type: string
                              description: '`Name` of the `Division`'
                              examples:
                              - Division 1
                          required:
                          - id
                          - name
                        unit:
                          type: object
                          properties:
                            id:
                              type: integer
                              minimum: 1
                              maximum: 9007199254740991
                              description: '`ID` of the `Unit`'
                              examples:
                              - 10000
                            name:
                              type: string
                              description: '`Name` of the `Unit`'
                              examples:
                              - Unit 1
                          required:
                          - id
                          - name
                      required:
                      - id
                      - name
                      - physicalUnit
                      - dataType
                      - description
                      - longDescription
                      - workspace
                      - asset
                      - division
                      - unit
                      additionalProperties: false
                  next:
                    type: object
                    properties:
                      token:
                        type: string
                      href:
                        type: string
                        format: uri
                        examples:
                        - https://api.apps.nor.tech/api/v1/workspaces/{workspace}/signals?nextToken=abc
                    required:
                    - token
                    - href
                required:
                - size
                - data
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    const: Validation Error
                  details:
                    $schema: https://json-schema.org/draft/2020-12/schema
                    type: string
                required:
                - status
                - details
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    const: Unauthorized
                required:
                - status
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                description: Workspace not found
                properties:
                  status:
                    const: Workspace not found
                required:
                - status
  /api/v1/assets/{asset}/signals:
    get:
      operationId: v1.metadata.signal.listAssetSignals
      summary: List Asset Signals
      description: List all `Signals` in an `Asset` by its `IDs`.
      tags:
      - Signal
      parameters:
      - name: asset
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
          maximum: 9007199254740991
          description: '`ID` of the `Asset`'
          examples:
          - 10000
      - name: size
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 100
        allowEmptyValue: true
        allowReserved: true
      - name: nextToken
        in: query
        schema:
          type: string
        allowEmptyValue: true
        allowReserved: true
      - name: sortBy
        in: query
        schema:
          enum:
          - id
          - name
          - physicalUnit
          - dataType
          - description
          - longDescription
          - workspace
          - asset
          - division
          - unit
          type: string
        allowEmptyValue: true
        allowReserved: true
      - name: sortOrder
        in: query
        schema:
          anyOf:
          - const: asc
          - const: desc
          default: asc
        allowEmptyValue: true
        allowReserved: true
      responses:
        '200':
          description: '`Signal` list'
          content:
            application/json:
              schema:
                type: object
                properties:
                  size:
                    type: integer
                    minimum: 0
                    maximum: 9007199254740991
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          minimum: 1
                          maximum: 9007199254740991
                          description: '`ID` of the `Signal`'
                          examples:
                          - 10000
                        name:
                          type: string
                          description: '`Name` of the `Signal`'
                          examples:
                          - Signal 1
                        physicalUnit:
                          type: string
                          description: Physical unit of the `Signal`
                          examples:
                          - m/s
                        dataType:
                          anyOf:
                          - const: float
                          - const: boolean
                          - const: string
                          - const: json
                          description: '`Data type` of the `Signal`'
                        description:
                          anyOf:
                          - type: string
                          - type: 'null'
                          description: '`Description` of the `Signal`'
                          examples:
                          - Signal description
                        longDescription:
                          anyOf:
                          - type: string
                          - type: 'null'
                          description: Long description of the `Signal`
                          examples:
                          - Signal description
                        workspace:
                          type: object
                          properties:
                            id:
                              type: integer
                              minimum: 1
                              maximum: 9007199254740991
                              description: '`ID` of the `Workspace`'
                              examples:
                              - 10000
                            name:
                              type: string
                              description: '`Name` of the `Workspace`'
                              examples:
                              - Workspace 1
                          required:
                          - id
                          - name
                        asset:
                          type: object
                          properties:
                            id:
                              type: integer
                              minimum: 1
                              maximum: 9007199254740991
                              description: '`ID` of the `Asset`'
                              examples:
                              - 10000
                            name:
                              type: string
                              description: '`Name` of the `Asset`'
                              examples:
                              - Asset 1
                          required:
                          - id
                          - name
                        division:
                          type: object
                          properties:
                            id:
                              type: integer
                              minimum: 1
                              maximum: 9007199254740991
                              description: '`ID` of the `Division`'
                              examples:
                              - 10000
                            name:
                              type: string
                              description: '`Name` of the `Division`'
                              examples:
                              - Division 1
                          required:
                          - id
                          - name
                        unit:
                          type: object
                          properties:
                            id:
                              type: integer
                              minimum: 1
                              maximum: 9007199254740991
                              description: '`ID` of the `Unit`'
                              examples:
                              - 10000
                            name:
                              type: string
                              description: '`Name` of the `Unit`'
                              examples:
                              - Unit 1
                          required:
                          - id
                          - name
                      required:
                      - id
                      - name
                      - physicalUnit
                      - dataType
                      - description
                      - longDescription
                      - workspace
                      - asset
                      - division
                      - unit
                      additionalProperties: false
                  next:
                    type: object
                    properties:
                      token:
                        type: string
                      href:
                        type: string
                        format: uri
                        examples:
                        - https://api.apps.nor.tech/api/v1/assets/{asset}/signals?nextToken=abc
                    required:
                    - token
                    - href
                required:
                - size
                - data
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    const: Validation Error
                  details:
                    $schema: https://json-schema.org/draft/2020-12/schema
                    type: string
                required:
                - status
                - details
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    const: Unauthorized
                required:
                - status
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                description: Asset not found
                properties:
                  status:
                    const: Asset not found
                required:
                - status
  /api/v1/divisions/{division}/signals:
    get:
      operationId: v1.metadata.signal.listDivisionSignals
      summary: List Division Signals
      description: List all `Signals` in a `Division` by its `IDs`.
      tags:
      - Signal
      parameters:
      - name: division
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
          maximum: 9007199254740991
          description: '`ID` of the `Division`'
          examples:
          - 10000
      - name: size
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 100
        allowEmptyValue: true
        allowReserved: true
      - name: nextToken
        in: query
        schema:
          type: string
        allowEmptyValue: true
        allowReserved: true
      - name: sortBy
        in: query
        schema:
          enum:
          - id
          - name
          - physicalUnit
          - dataType
          - description
          - longDescription
          - workspace
          - asset
          - division
          - unit
          type: string
        allowEmptyValue: true
        allowReserved: true
      - name: sortOrder
        in: query
        schema:
          anyOf:
          - const: asc
          - const: desc
          default: asc
        allowEmptyValue: true
        allowReserved: true
      responses:
        '200':
          description: '`Signal` list'
          content:
            application/json:
              schema:
                type: object
                properties:
                  size:
                    type: integer
                    minimum: 0
                    maximum: 9007199254740991
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          minimum: 1
                          maximum: 9007199254740991
                          description: '`ID` of the `Signal`'
                          examples:
                          - 10000
                        name:
                          type: string
                          description: '`Name` of the `Signal`'
                          examples:
                          - Signal 1
                        physicalUnit:
                          type: string
                          description: Physical unit of the `Signal`
                          examples:
                          - m/s
                        dataType:
                          anyOf:
                          - const: float
                          - const: boolean
                          - const: string
                          - const: json
                          description: '`Data type` of the `Signal`'
                        description:
                          anyOf:
                          - type: string
                          - type: 'null'
                          description: '`Description` of the `Signal`'
                          examples:
                          - Signal description
                        longDescription:
                          anyOf:
                          - type: string
                          - type: 'null'
                          description: Long description of the `Signal`
                          examples:
                          - Signal description
                        workspace:
                          type: object
                          properties:
                            id:
                              type: integer
                              minimum: 1
                              maximum: 9007199254740991
                              description: '`ID` of the `Workspace`'
                              examples:
                              - 10000
                            name:
                              type: string
                              description: '`Name` of the `Workspace`'
                              examples:
                              - Workspace 1
                          required:
                          - id
                          - name
                        asset:
                          type: object
                          properties:
                            id:
                              type: integer
                              minimum: 1
                              maximum: 9007199254740991
                              description: '`ID` of the `Asset`'
                              examples:
                              - 10000
                            name:
                              type: string
                              description: '`Name` of the `Asset`'
                              examples:
                              - Asset 1
                          required:
                          - id
                          - name
                        division:
                          type: object
                          properties:
                            id:
                              type: integer
                              minimum: 1
                              maximum: 9007199254740991
                              description: '`ID` of the `Division`'
                              examples:
                              - 10000
                            name:
                              type: string
                              description: '`Name` of the `Division`'
                              examples:
                              - Division 1
                          required:
                          - id
                          - name
                        unit:
                          type: object
                          properties:
                            id:
                              type: integer
                              minimum: 1
                              maximum: 9007199254740991
                              description: '`ID` of the `Unit`'
                              examples:
                              - 10000
                            name:
                              type: string
                              description: '`Name` of the `Unit`'
                              examples:
                              - Unit 1
                          required:
                          - id
                          - name
                      required:
                      - id
                      - name
                      - physicalUnit
                      - dataType
                      - description
                      - longDescription
                      - workspace
                      - asset
                      - division
                      - unit
                      additionalProperties: false
                  next:
                    type: object
                    properties:
                      token:
                        type: string
                      href:
                        type: string
                        format: uri
                        examples:
                        - https://api.apps.nor.tech/api/v1/divisions/{division}/signals?nextToken=abc
                    required:
                    - token
                    - href
                required:
                - size
                - data
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    const: Validation Error
                  details:
                    $schema: https://json-schema.org/draft/2020-12/schema
                    type: string
                required:
                - status
                - details
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    const: Unauthorized
                required:
                - status
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                description: Division not found
                properties:
                  status:
                    const: Division not found
                required:
                - status
  /api/v1/units/{unit}/signals:
    get:
      operationId: v1.metadata.signal.listUnitSignals
      summary: List Unit Signals
      description: List all `Signals` in a `Unit` by its `IDs`.
      tags:
      - Signal
      parameters:
      - name: unit
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
          maximum: 9007199254740991
          description: '`ID` of the `Unit`'
          examples:
          - 10000
      - name: size
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 100
        allowEmptyValue: true
        allowReserved: true
      - name: nextToken
        in: query
        schema:
          type: string
        allowEmptyValue: true
        allowReserved: true
      - name: sortBy
        in: query
        schema:
          enum:
          - id
          - name
          - physicalUnit
          - dataType
          - description
          - longDescription
          - workspace
          - asset
          - division
          - unit
          type: string
        allowEmptyValue: true
        allowReserved: true
      - name: sortOrder
        in: query
        schema:
          anyOf:
          - const: asc
          - const: desc
          default: asc
        allowEmptyValue: true
        allowReserved: true
      responses:
        '200':
          description: '`Signal` list'
          content:
            application/json:
              schema:
                type: object
                properties:
                  size:
                    type: integer
                    minimum: 0
                    maximum: 9007199254740991
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          minimum: 1
                          maximum: 9007199254740991
                          description: '`ID` of the `Signal`'
                          examples:
                          - 10000
                        name:
                          type: string
                          description: '`Name` of the `Signal`'
                          examples:
                          - Signal 1
                        physicalUnit:
                          type: string
                          description: Physical unit of the `Signal`
                          examples:
                          - m/s
                        dataType:
                          anyOf:
                          - const: float
                          - const: boolean
                          - const: string
                          - const: json
                          description: '`Data type` of the `Signal`'
                        description:
                          anyOf:
                          - type: string
                          - type: 'null'
                          description: '`Description` of the `Signal`'
                          examples:
                          - Signal description
                        longDescription:
                          anyOf:
                          - type: string
                          - type: 'null'
                          description: Long description of the `Signal`
                          examples:
                          - Signal description
                        workspace:
                          type: object
                          properties:
                            id:
                              type: integer
                              minimum: 1
                              maximum: 9007199254740991
                              description: '`ID` of the `Workspace`'
                              examples:
                              - 10000
                            name:
                              type: string
                              description: '`Name` of the `Workspace`'
                              examples:
                              - Workspace 1
                          required:
                          - id
                          - name
                        asset:
                          type: object
                          properties:
                            id:
                              type: integer
                              minimum: 1
                              maximum: 9007199254740991
                              description: '`ID` of the `Asset`'
                              examples:
                              - 10000
                            name:
                              type: string
                              description: '`Name` of the `Asset`'
                              examples:
                              - Asset 1
                          required:
                          - id
                          - name
                        division:
                          type: object
                          properties:
                            id:
                              type: integer
                              minimum: 1
                              maximum: 9007199254740991
                              description: '`ID` of the `Division`'
                              examples:
                              - 10000
                            name:
                              type: string
                              description: '`Name` of the `Division`'
                              examples:
                              - Division 1
                          required:
                          - id
                          - name
                        unit:
                          type: object
                          properties:
                            id:
                              type: integer
                              minimum: 1
                              maximum: 9007199254740991
                              description: '`ID` of the `Unit`'
                              examples:
                              - 10000
                            name:
                              type: string
                              description: '`Name` of the `Unit`'
                              examples:
                              - Unit 1
                          required:
                          - id
                          - name
                      required:
                      - id
                      - name
                      - physicalUnit
                      - dataType
                      - description
                      - longDescription
                      - workspace
                      - asset
                      - division
                      - unit
                      additionalProperties: false
                  next:
                    type: object
                    properties:
                      token:
                        type: string
                      href:
                        type: string
                        format: uri
                        examples:
                        - https://api.apps.nor.tech/api/v1/units/{unit}/signals?nextToken=abc
                    required:
                    - token
                    - href
                required:
                - size
                - data
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    const: Validation Error
                  details:
                    $schema: https://json-schema.org/draft/2020-12/schema
                    type: string
                required:
                - status
                - details
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    const: Unauthorized
                required:
                - status
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                description: Unit not found
                properties:
                  status:
                    const: Unit not found
                required:
                - status
  /api/v1/signals/{signal}:
    get:
      operationId: v1.metadata.signal.getSignal
      summary: Get Signal
      description: Get a `Signal` by its `ID`.
      tags:
      - Signal
      parameters:
      - name: signal
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
          maximum: 9007199254740991
          description: '`ID` of the `Signal`'
          examples:
          - 10000
      responses:
        '200':
          description: '`Signal` details'
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    minimum: 1
                    maximum: 9007199254740991
                    description: '`ID` of the `Signal`'
                    examples:
                    - 10000
                  name:
                    type: string
                    description: '`Name` of the `Signal`'
                    examples:
                    - Signal 1
                  createdAt:
                    type: string
                    format: date-time
                    x-native-type: date
                    description: '`Creation Date` of the `Signal`'
                  updatedAt:
                    type: string
                    format: date-time
                    x-native-type: date
                    description: '`Update Date` of the `Signal`'
                  physicalUnit:
                    type: string
                    description: Physical unit of the `Signal`
                    examples:
                    - m/s
                  dataType:
                    anyOf:
                    - const: float
                    - const: boolean
                    - const: string
                    - const: json
                    description: '`Data type` of the `Signal`'
                  description:
                    anyOf:
                    - type: string
                    - type: 'null'
                    description: '`Description` of the `Signal`'
                    examples:
                    - Signal description
                  longDescription:
                    anyOf:
                    - type: string
                    - type: 'null'
                    description: Long description of the `Signal`
                    examples:
                    - Signal description
                  workspace:
                    type: object
                    properties:
                      id:
                        type: integer
                        minimum: 1
                        maximum: 9007199254740991
                        description: '`ID` of the `Workspace`'
                        examples:
                        - 10000
                      name:
                        type: string
                        description: '`Name` of the `Workspace`'
                        examples:
                        - Workspace 1
                    required:
                    - id
                    - name
                  asset:
                    type: object
                    properties:
                      id:
                        type: integer
                        minimum: 1
                        maximum: 9007199254740991
                        description: '`ID` of the `Asset`'
                        examples:
                        - 10000
                      name:
                        type: string
                        description: '`Name` of the `Asset`'
                        examples:
                        - Asset 1
                    required:
                    - id
                    - name
                  division:
                    type: object
                    properties:
                      id:
                        type: integer
                        minimum: 1
                        maximum: 9007199254740991
                        description: '`ID` of the `Division`'
                        examples:
                        - 10000
                      name:
                        type: string
                        description: '`Name` of the `Division`'
                        examples:
                        - Division 1
                    required:
                    - id
                    - name
                  unit:
                    type: object
                    properties:
                      id:
                        type: integer
                        minimum: 1
                        maximum: 9007199254740991
                        description: '`ID` of the `Unit`'
                        examples:
                        - 10000
                      name:
                        type: string
                        description: '`Name` of the `Unit`'
                        examples:
                        - Unit 1
                    required:
                    - id
                    - name
                required:
                - id
                - name
                - createdAt
                - updatedAt
                - physicalUnit
                - dataType
                - description
                - longDescription
                - workspace
                - asset
                - division
                - unit
                additionalProperties: false
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    const: Validation Error
                  details:
                    $schema: https://json-schema.org/draft/2020-12/schema
                    type: string
                required:
                - status
                - details
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    const: Unauthorized
                required:
                - status
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                description: Signal not found
                properties:
                  status:
                    const: Signal not found
                required:
                - status
    put:
      operationId: v1.metadata.signal.updateSignal
      summary: Update Signal
      description: Update a `Signal`. **Requires editor role.**
      tags:
      - Signal
      parameters:
      - name: signal
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
          maximum: 9007199254740991
          description: '`ID` of the `Signal`'
          examples:
          - 10000
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                asset:
                  type: string
                  description: '`Name` of the `Asset`'
                  examples:
                  - Asset 1
                division:
                  type: string
                  description: '`Name` of the `Division`'
                  examples:
                  - Division 1
                unit:
                  type: string
                  description: '`Name` of the `Unit`'
                  examples:
                  - Unit 1
                physicalUnit:
                  type: string
                  description: Physical unit of the `Signal`
                  examples:
                  - m/s
                description:
                  anyOf:
                  - type: string
                  - type: 'null'
                  description: '`Description` of the `Signal`'
                  examples:
                  - Signal description
                longDescription:
                  anyOf:
                  - type: string
                  - type: 'null'
                  description: '`Description` of the `Signal`'
                  examples:
                  - Signal description
                groupKey:
                  type: string
                  minLength: 1
                  maxLength: 64
                  description: '`Signals` with the same `groupKey` are stored together'
                createParents:
                  type: string
                  default: false
                  description: Force creation of parent resources if they don't exist
              required:
              - asset
              - division
              - unit
      responses:
        '200':
          description: '`Signal` updated'
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    minimum: 1
                    maximum: 9007199254740991
                    description: '`ID` of the `Signal`'
                    examples:
                    - 10000
                  name:
                    type: string
                    description: '`Name` of the `Signal`'
                    examples:
                    - Signal 1
                  createdAt:
                    type: string
                    format: date-time
                    x-native-type: date
                    description: '`Creation Date` of the `Signal`'
                  updatedAt:
                    type: string
                    format: date-time
                    x-native-type: date
                    description: '`Update Date` of the `Signal`'
                  physicalUnit:
                    type: string
                    description: Physical unit of the `Signal`
                    examples:
                    - m/s
                  dataType:
                    anyOf:
                    - const: float
                    - const: boolean
                    - const: string
                    - const: json
                    description: '`Data type` of the `Signal`'
                  description:
                    anyOf:
                    - type: string
                    - type: 'null'
                    description: '`Description` of the `Signal`'
                    examples:
                    - Signal description
                  longDescription:
                    anyOf:
                    - type: string
                    - type: 'null'
                    description: Long description of the `Signal`
                    examples:
                    - Signal description
                  workspace:
                    type: object
                    properties:
                      id:
                        type: integer
                        minimum: 1
                        maximum: 9007199254740991
                        description: '`ID` of the `Workspace`'
                        examples:
                        - 10000
                      name:
                        type: string
                        description: '`Name` of the `Workspace`'
                        examples:
                        - Workspace 1
                    required:
                    - id
                    - name
                  asset:
                    type: object
                    properties:
                      id:
                        type: integer
                        minimum: 1
                        maximum: 9007199254740991
                        description: '`ID` of the `Asset`'
                        examples:
                        - 10000
                      name:
                        type: string
                        description: '`Name` of the `Asset`'
                        examples:
                        - Asset 1
                    required:
                    - id
                    - name
                  division:
                    type: object
                    properties:
                      id:
                        type: integer
                        minimum: 1
                        maximum: 9007199254740991
                        description: '`ID` of the `Division`'
                        examples:
                        - 10000
                      name:
                        type: string
                        description: '`Name` of the `Division`'
                        examples:
                        - Division 1
                    required:
                    - id
                    - name
                  unit:
                    type: object
                    properties:
                      id:
                        type: integer
                        minimum: 1
                        maximum: 9007199254740991
                        description: '`ID` of the `Unit`'
                        examples:
                        - 10000
                      name:
                        type: string
                        description: '`Name` of the `Unit`'
                        examples:
                        - Unit 1
                    required:
                    - id
                    - name
                required:
                - id
                - name
                - createdAt
                - updatedAt
                - physicalUnit
                - dataType
                - description
                - longDescription
                - workspace
                - asset
                - division
                - unit
                additionalProperties: false
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    const: Validation Error
                  details:
                    $schema: https://json-schema.org/draft/2020-12/schema
                    type: string
                required:
                - status
                - details
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    const: Unauthorized
                required:
                - status
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                description: Forbidden
                properties:
                  status:
                    const: Forbidden
                required:
                - status
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  description: Asset not found
                  properties:
                    status:
                      const: Asset not found
                  required:
                  - status
                - type: object
                  description: Division not found
                  properties:
                    status:
                      const: Division not found
                  required:
                  - status
                - type: object
                  description: Unit not found
                  properties:
                    status:
                      const: Unit not found
                  required:
                  - status
                - type: object
                  description: Signal not found
                  properties:
                    status:
                      const: Signal not found
                  required:
                  - status
  /api/v1/signals:
    post:
      operationId: v1.metadata.signal.getSignals
      summary: Get Signals
      description: Get multiple `Signals` from their `IDs` or `Search JSON`.
      tags:
      - Signal
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                signals:
                  anyOf:
                  - type: array
                    minItems: 1
                    items:
                      type: object
                      properties:
                        workspace:
                          type: string
                          description: '`Name` of the `Workspace`'
                          examples:
                          - Workspace 1
                        asset:
                          type: string
                          description: '`Name` of the `Asset`'
                          examples:
                          - Asset 1
                        division:
                          type: string
                          description: '`Name` of the `Division`'
                          examples:
                          - Division 1
                        unit:
                          type: string
                          description: '`Name` of the `Unit`'
                          examples:
                          - Unit 1
                        signal:
                          type: string
                          description: '`Name` of the `Signal`'
                          examples:
                          - Signal 1
                      required:
                      - workspace
                      - asset
                      - division
                      - unit
                      - signal
                      description: Signal search JSON
                    examples:
                    - - workspace: Workspace1
                        asset: Asset1
                        division: Division1
                        unit: Unit1
                        signal: Signal1
                      - workspace: Workspace1
                        asset: Asset1
                        division: Division1
                        unit: Unit1
                        signal: Signal2
                  - type: array
                    minItems: 1
                    items:
                      type: integer
                      minimum: 1
                      maximum: 9007199254740991
                      description: '`ID` of the `Signal`'
                      examples:
                      - 10000
                    description: Array of signal ID's
                    examples:
                    - - 10000
                      - 10001
                      - 10002
                  description: Array of Signal ID's or Search JSON's
              required:
              - signals
      responses:
        '200':
          description: '`Signal` list'
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                      minimum: 1
                      maximum: 9007199254740991
                      description: '`ID` of the `Signal`'
                      examples:
                      - 10000
                    name:
                      type: string
                      description: '`Name` of the `Signal`'
                      examples:
                      - Signal 1
                    createdAt:
                      type: string
                      format: date-time
                      x-native-type: date
                      description: '`Creation Date` of the `Signal`'
                    updatedAt:
                      type: string
                      format: date-time
                      x-native-type: date
                      description: '`Update Date` of the `Signal`'
                    physicalUnit:
                      type: string
                      description: Physical unit of the `Signal`
                      examples:
                      - m/s
                    dataType:
                      anyOf:
                      - const: float
                      - const: boolean
                      - const: string
                      - const: json
                      description: '`Data type` of the `Signal`'
                    description:
                      anyOf:
                      - type: string
                      - type: 'null'
                      description: '`Description` of the `Signal`'
                      examples:
                      - Signal description
                    longDescription:
                      anyOf:
                      - type: string
                      - type: 'null'
                      description: Long description of the `Signal`
                      examples:
                      - Signal description
                    workspace:
                      type: object
                      properties:
                        id:
                          type: integer
                          minimum: 1
                          maximum: 9007199254740991
                          description: '`ID` of the `Workspace`'
                          examples:
                          - 10000
                        name:
                          type: string
                          description: '`Name` of the `Workspace`'
                          examples:
                          - Workspace 1
                      required:
                      - id
                      - name
                    asset:
                      type: object
                      properties:
                        id:
                          type: integer
                          minimum: 1
                          maximum: 9007199254740991
                          description: '`ID` of the `Asset`'
                          examples:
                          - 10000
                        name:
                          type: string
                          description: '`Name` of the `Asset`'
                          examples:
                          - Asset 1
                      required:
                      - id
                      - name
                    division:
                      type: object
                      properties:
                        id:
                          type: integer
                          minimum: 1
                          maximum: 9007199254740991
                          description: '`ID` of the `Division`'
                          examples:
                          - 10000
                        name:
                          type: string
                          description: '`Name` of the `Division`'
                          examples:
                          - Division 1
                      required:
                      - id
                      - name
                    unit:
                      type: object
                      properties:
                        id:
                          type: integer
                          minimum: 1
                          maximum: 9007199254740991
                          description: '`ID` of the `Unit`'
                          examples:
                          - 10000
                        name:
                          type: string
                          description: '`Name` of the `Unit`'
                          examples:
                          - Unit 1
                      required:
                      - id
                      - name
                  required:
                  - id
                  - name
                  - createdAt
                  - updatedAt
                  - physicalUnit
                  - dataType
                  - description
                  - longDescription
                  - workspace
                  - asset
                  - division
                  - unit
                  additionalProperties: false
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    const: Validation Error
                  details:
                    $schema: https://json-schema.org/draft/2020-12/schema
                    type: string
                required:
                - status
                - details
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    const: Unauthorized
                required:
                - status
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                description: Signals not found
                properties:
                  status:
                    const: Signals not found
                  details:
                    type: object
                    properties:
                      signals:
                        anyOf:
                        - type: array
                          minItems: 1
                          items:
                            type: object
                            properties:
                              workspace:
                                type: string
                                description: '`Name` of the `Workspace`'
                                examples:
                                - Workspace 1
                              asset:
                                type: string
                                description: '`Name` of the `Asset`'
                                examples:
                                - Asset 1
                              division:
                                type: string
                                description: '`Name` of the `Division`'
                                examples:
                                - Division 1
                              unit:
                                type: string
                                description: '`Name` of the `Unit`'
                                examples:
                                - Unit 1
                              signal:
                                type: string
                                description: '`Name` of the `Signal`'
                                examples:
                                - Signal 1
                            required:
                            - workspace
                            - asset
                            - division
                            - unit
                            - signal
                            description: Signal search JSON
                          examples:
                          - - workspace: Workspace1
                              asset: Asset1
                              division: Division1
                              unit: Unit1
                              signal: Signal1
                            - workspace: Workspace1
                              asset: Asset1
                              division: Division1
                              unit: Unit1
                              signal: Signal2
                        - type: array
                          minItems: 1
                          items:
                            type: integer
                            minimum: 1
                            maximum: 9007199254740991
                            description: '`ID` of the `Signal`'
                            examples:
                            - 10000
                          description: Array of signal ID's
                          examples:
                          - - 10000
                            - 10001
                            - 10002
                        description: Array of Signal ID's or Search JSON's
                    required:
                    - signals
                required:
                - status
                - details
  /api/v1/signals/new:
    post:
      operationId: v1.metadata.signal.createSignal
      summary: Create Signal
      description: Create a `Signal`. **Requires editor role.**
      tags:
      - Signal
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                workspace:
                  type: string
                  description: '`Name` of the `Workspace`'
                  examples:
                  - Workspace 1
                asset:
                  type: string
                  description: '`Name` of the `Asset`'
                  examples:
                  - Asset 1
                division:
                  type: string
                  description: '`Name` of the `Division`'
                  examples:
                  - Division 1
                unit:
                  type: string
                  description: '`Name` of the `Unit`'
                  examples:
                  - Unit 1
                signal:
                  type: string
                  description: '`Name` of the `Signal`'
                  examples:
                  - Signal 1
                physicalUnit:
                  type: string
                  description: Physical unit of the `Signal`
                  examples:
                  - m/s
                description:
                  anyOf:
                  - type: string
                  - type: 'null'
                  description: '`Description` of the `Signal`'
                  examples:
                  - Signal description
                longDescription:
                  anyOf:
                  - type: string
                  - type: 'null'
                  description: '`Description` of the `Signal`'
                  examples:
                  - Signal description
                dataType:
                  anyOf:
                  - const: float
                  - const: boolean
                  - const: string
                  - const: json
                  description: '`Data type` of the `Signal`'
                groupKey:
                  type: string
                  minLength: 1
                  maxLength: 64
                  description: '`Signals` with the same `groupKey` are stored together'
                createParents:
                  type: string
                  default: false
                  description: Force creation of parent resources if they don't exist
              required:
              - workspace
              - asset
              - division
              - unit
              - signal
              - dataType
      responses:
        '200':
          description: '`Signal` created'
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    minimum: 1
                    maximum: 9007199254740991
                    description: '`ID` of the `Signal`'
                    examples:
                    - 10000
                  name:
                    type: string
                    description: '`Name` of the `Signal`'
                    examples:
                    - Signal 1
                  createdAt:
                    type: string
                    format: date-time
                    x-native-type: date
                    description: '`Creation Date` of the `Signal`'
                  updatedAt:
                    type: string
                    format: date-time
                    x-native-type: date
                    description: '`Update Date` of the `Signal`'
                  physicalUnit:
                    type: string
                    description: Physical unit of the `Signal`
                    examples:
                    - m/s
                  dataType:
                    anyOf:
                    - const: float
                    - const: boolean
                    - const: string
                    - const: json
                    description: '`Data type` of the `Signal`'
                  description:
                    anyOf:
                    - type: string
                    - type: 'null'
                    description: '`Description` of the `Signal`'
                    examples:
                    - Signal description
                  longDescription:
                    anyOf:
                    - type: string
                    - type: 'null'
                    description: Long description of the `Signal`
                    examples:
                    - Signal description
                  workspace:
                    type: object
                    properties:
                      id:
                        type: integer
                        minimum: 1
                        maximum: 9007199254740991
                        description: '`ID` of the `Workspace`'
                        examples:
                        - 10000
                      name:
                        type: string
                        description: '`Name` of the `Workspace`'
                        examples:
                        - Workspace 1
                    required:
                    - id
                    - name
                  asset:
                    type: object
                    properties:
                      id:
                        type: integer
                        minimum: 1
                        maximum: 9007199254740991
                        description: '`ID` of the `Asset`'
                        examples:
                        - 10000
                      name:
                        type: string
                        description: '`Name` of the `Asset`'
                        examples:
                        - Asset 1
                    required:
                    - id
                    - name
                  division:
                    type: object
                    properties:
                      id:
                        type: integer
                        minimum: 1
                        maximum: 9007199254740991
                        description: '`ID` of the `Division`'
                        examples:
                        - 10000
                      name:
                        type: string
                        description: '`Name` of the `Division`'
                        examples:
                        - Division 1
                    required:
                    - id
                    - name
                  unit:
                    type: object
                    properties:
                      id:
                        type: integer
                        minimum: 1
                        maximum: 9007199254740991
                        description: '`ID` of the `Unit`'
                        examples:
                        - 10000
                      name:
                        type: string
                        description: '`Name` of the `Unit`'
                        examples:
                        - Unit 1
                    required:
                    - id
                    - name
                required:
                - id
                - name
                - createdAt
                - updatedAt
                - physicalUnit
                - dataType
                - description
                - longDescription
                - workspace
                - asset
                - division
                - unit
                additionalProperties: false
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    const: Validation Error
                  details:
                    $schema: https://json-schema.org/draft/2020-12/schema
                    type: string
                required:
                - status
                - details
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    const: Unauthorized
                required:
                - status
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                description: Forbidden
                properties:
                  status:
                    const: Forbidden
                required:
                - status
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  description: Workspace not found
                  properties:
                    status:
                      const: Workspace not found
                  required:
                  - status
                - type: object
                  description: Asset not found
                  properties:
                    status:
                      const: Asset not found
                  required:
                  - status
                - type: object
                  description: Division not found
                  properties:
                    status:
                      const: Division not found
                  required:
                  - status
                - type: object
                  description: Unit not found
                  properties:
                    status:
                      const: Unit not found
                  required:
                  - status
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                type: object
                description: Signal already exists
                properties:
                  status:
                    const: Signal already exists
                required:
                - status
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                type: object
                description: Maximum of 900 signals per unit reached
                properties:
                  status:
                    const: Maximum of 900 signals per unit reached
                required:
                - status
  /api/v1/signals/new/batch:
    post:
      operationId: v1.metadata.signal.createSignals
      summary: Create Signals
      description: Create multiple `Signals`. The request only succeeds if at least one of the `Signals` is new. **Requires editor role.**
      tags:
      - Signal
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                workspace:
                  type: string
                  description: '`Name` of the `Workspace`'
                  examples:
                  - Workspace 1
                asset:
                  type: string
                  description: '`Name` of the `Asset`'
                  examples:
                  - Asset 1
                division:
                  type: string
                  description: '`Name` of the `Division`'
                  examples:
                  - Division 1
                unit:
                  type: string
                  description: '`Name` of the `Unit`'
                  examples:
                  - Unit 1
                signals:
                  type: array
                  items:
                    type: object
                    properties:
                      signal:
                        type: string
                        description: '`Name` of the `Signal`'
                        examples:
                        - Signal 1
                      physicalUnit:
                        type: string
                        description: Physical unit of the `Signal`
                        examples:
                        - m/s
                      description:
                        anyOf:
                        - type: string
                        - type: 'null'
                        description: '`Description` of the `Signal`'
                        examples:
                        - Signal description
                      longDescription:
                        anyOf:
                        - type: string
                        - type: 'null'
                        description: '`Description` of the `Signal`'
                        examples:
                        - Signal description
                      dataType:
                        anyOf:
                        - const: float
                        - const: boolean
                        - const: string
                        - const: json
                        description: '`Data type` of the `Signal`'
                      groupKey:
                        type: string
                        minLength: 1
                        maxLength: 64
                        description: '`Signals` with the same `groupKey` are stored together'
                    required:
                    - signal
                    - dataType
                createParents:
                  type: string
                  default: false
                  description: Force creation of parent resources if they don't exist
              required:
              - workspace
              - asset
              - division
              - unit
              - signals
      responses:
        '201':
          description: '`Signal` list'
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                      minimum: 1
                      maximum: 9007199254740991
                      description: '`ID` of the `Signal`'
                      examples:
                      - 10000
                    name:
                      type: string
                      description: '`Name` of the `Signal`'
                      examples:
                      - Signal 1
                    createdAt:
                      type: string
                      format: date-time
                      x-native-type: date
                      description: '`Creation Date` of the `Signal`'
                    updatedAt:
                      type: string
                      format: date-time
                      x-native-type: date
                      description: '`Update Date` of the `Signal`'
                    physicalUnit:
                      type: string
                      description: Physical unit of the `Signal`
                      examples:
                      - m/s
                    dataType:
                      anyOf:
                      - const: float
                      - const: boolean
                      - const: string
                      - const: json
                      description: '`Data type` of the `Signal`'
                    description:
                      anyOf:
                      - type: string
                      - type: 'null'
                      description: '`Description` of the `Signal`'
                      examples:
                      - Signal description
                    longDescription:
                      anyOf:
                      - type: string
                      - type: 'null'
                      description: Long description of the `Signal`
                      examples:
                      - Signal description
                    workspace:
                      type: object
                      properties:
                        id:
                          type: integer
                          minimum: 1
                          maximum: 9007199254740991
                          description: '`ID` of the `Workspace`'
                          examples:
                          - 10000
                        name:
                          type: string
                          description: '`Name` of the `Workspace`'
                          examples:
                          - Workspace 1
                      required:
                      - id
                      - name
                    asset:
                      type: object
                      properties:
                        id:
                          type: integer
                          minimum: 1
                          maximum: 9007199254740991
                          description: '`ID` of the `Asset`'
                          examples:
                          - 10000
                        name:
                          type: string
                          description: '`Name` of the `Asset`'
                          examples:
                          - Asset 1
                      required:
                      - id
                      - name
                    division:
                      type: object
                      properties:
                        id:
                          type: integer
[...]
