openapi: 3.1.1
info:
  title: Nortech Asset Live Data API
  version: 1.0.0
  contact:
    name: Nortech AI
    url: https://nortech.ai
    email: support@nortech.ai
  summary: HTTP API for Nortech AI. Contact Nortech AI support for access.
  description: "This API is structured between three main API groups:\n* **Metadata API** - To navigate and get information about your assets.\n* **Signal Data API** - To query all signal data produced from your assets.\n* **Deriver API** - To create and manage derivers that produce computed signals.\n\n# Pagination\nAll `List` Endpoints support cursor pagination. In this pagination model, the client receives a `next.token` field in the response, \nwhich can be used as a `nextToken` query parameter to fetch the next page of results. \nThe `size` parameter defines the maximum number of results to return, the `sortBy` and `sortOrder` parameters define the field to sort by and its order."
  x-logo:
    url: https://branding-api.apps.nor.tech/logo-light
    backgroundColor: '#fafafa'
    altText: Nortech AI
    href: https://nortech.ai
servers:
- url: https://api.apps.nor.tech
  description: HTTP API for Nortech AI
security:
- Bearer Token: []
tags:
- name: Live Data
  description: This API includes endpoints that allow you to retrieve live data.
paths:
  /api/v1/live-data/points:
    post:
      operationId: v1.signalData.liveData.getLatestData
      summary: Get latest data points
      description: Get the latest data points for the given signals
      deprecated: true
      tags:
      - Live Data
      requestBody:
        required: true
        content:
          application/json:
            schema:
              anyOf:
              - type: array
                minItems: 1
                items:
                  type: object
                  properties:
                    workspace:
                      type: string
                      description: '`Name` of the `Workspace`'
                      examples:
                      - Workspace 1
                    asset:
                      type: string
                      description: '`Name` of the `Asset`'
                      examples:
                      - Asset 1
                    division:
                      type: string
                      description: '`Name` of the `Division`'
                      examples:
                      - Division 1
                    unit:
                      type: string
                      description: '`Name` of the `Unit`'
                      examples:
                      - Unit 1
                    signal:
                      type: string
                      description: '`Name` of the `Signal`'
                      examples:
                      - Signal 1
                    rename:
                      type: string
                      maxLength: 127
                      description: Name to give the returned signal. Defaults to the signal ID.
                  required:
                  - workspace
                  - asset
                  - division
                  - unit
                  - signal
                  description: Signal search JSON
                examples:
                - - workspace: Workspace1
                    asset: Asset1
                    division: Division1
                    unit: Unit1
                    signal: Signal1
                  - workspace: Workspace1
                    asset: Asset1
                    division: Division1
                    unit: Unit1
                    signal: Signal2
              - type: array
                minItems: 1
                items:
                  type: integer
                  minimum: 1
                  maximum: 9007199254740991
                  description: '`ID` of the `Signal`'
                  examples:
                  - 10000
                description: Array of signal ID's
                examples:
                - - 10000
                  - 10001
                  - 10002
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                propertyNames:
                  type: string
                additionalProperties:
                  type: object
                  properties:
                    timestamp:
                      type: string
                      format: date-time
                      description: Timestamp of the data point in UTC format
                    value:
                      anyOf:
                      - type: string
                      - type: number
                      - type: boolean
                      - type: object
                        additionalProperties: {}
                      - type: 'null'
                      description: Value of the data point
                      examples:
                      - 'on'
                      - 100
                      - true
                      - status: ok
                  required:
                  - timestamp
                  - value
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    const: Validation Error
                  details:
                    $schema: https://json-schema.org/draft/2020-12/schema
                    type: string
                required:
                - status
                - details
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    const: Unauthorized
                required:
                - status
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  description: Signals not found
                  properties:
                    status:
                      const: Signals not found
                    details:
                      type: object
                      properties:
                        signals:
                          anyOf:
                          - type: array
                            minItems: 1
                            items:
                              type: object
                              properties:
                                workspace:
                                  type: string
                                  description: '`Name` of the `Workspace`'
                                  examples:
                                  - Workspace 1
                                asset:
                                  type: string
                                  description: '`Name` of the `Asset`'
                                  examples:
                                  - Asset 1
                                division:
                                  type: string
                                  description: '`Name` of the `Division`'
                                  examples:
                                  - Division 1
                                unit:
                                  type: string
                                  description: '`Name` of the `Unit`'
                                  examples:
                                  - Unit 1
                                signal:
                                  type: string
                                  description: '`Name` of the `Signal`'
                                  examples:
                                  - Signal 1
                                rename:
                                  type: string
                                  maxLength: 127
                                  description: Name to give the returned signal. Defaults to the signal ID.
                              required:
                              - workspace
                              - asset
                              - division
                              - unit
                              - signal
                              description: Signal search JSON
                            examples:
                            - - workspace: Workspace1
                                asset: Asset1
                                division: Division1
                                unit: Unit1
                                signal: Signal1
                              - workspace: Workspace1
                                asset: Asset1
                                division: Division1
                                unit: Unit1
                                signal: Signal2
                          - type: array
                            minItems: 1
                            items:
                              type: integer
                              minimum: 1
                              maximum: 9007199254740991
                              description: '`ID` of the `Signal`'
                              examples:
                              - 10000
                            description: Array of signal ID's
                            examples:
                            - - 10000
                              - 10001
                              - 10002
                      required:
                      - signals
                  required:
                  - status
                  - details
                - type: object
                  description: Signal Data not found
                  properties:
                    status:
                      const: Signal Data not found
                  required:
                  - status
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                type: object
                description: Signals must belong to the same workspace
                properties:
                  status:
                    const: Signals must belong to the same workspace
                required:
                - status
components:
  securitySchemes:
    Bearer Token:
      type: http
      scheme: bearer
      bearerFormat: JWT
x-tagGroups:
- name: Metadata API v1
  tags:
  - Workspace
  - Asset
  - Division
  - Unit
  - Signal
- name: Signal Data API v1
  tags:
  - Historical Data
  - Live Data
  - MQTT Live Data
  - Import Data
- name: Deriver API v1
  tags:
  - Deriver
