openapi: 3.2.0
info:
  title: Nortech Historical Data API
  version: 1.0.0
  contact:
    name: Nortech AI
    url: https://nortech.ai
    email: support@nortech.ai
  summary: HTTP API for Nortech AI. Contact Nortech AI support for access.
  description: "This API is structured between three main API groups:\n* **Metadata API** - To navigate and get information about your assets.\n* **Signal Data API** - To query all signal data produced from your assets.\n* **Deriver API** - To create and manage derivers that produce computed signals.\n\n# Pagination\nAll `List` Endpoints support cursor pagination. In this pagination model, the client receives a `next.token` field in the response, \nwhich can be used as a `nextToken` query parameter to fetch the next page of results. \nThe `size` parameter defines the maximum number of results to return, the `sortBy` and `sortOrder` parameters define the field to sort by and its order."
  x-logo:
    url: https://branding-api.apps.nor.tech/logo-light
    backgroundColor: '#fafafa'
    altText: Nortech AI
    href: https://nortech.ai
servers:
- url: https://api.apps.nor.tech
  description: HTTP API for Nortech AI
security:
- Bearer Token: []
tags:
- name: historicalData
paths: {}
webhooks:
  asyncDataRequest:
    post:
      summary: Async Data Request Notification
      tags:
      - historicalData
      description: "The user can implemement this endpoint to be called when an Async Data Request is finished. \n          See [Create Async Data Request](#tag/historicalData/paths/~1api~1v1~1historical-data~1async/post) for more info."
      security: []
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $schema: https://json-schema.org/draft/2020-12/schema
              anyOf:
              - type: object
                properties:
                  requestId:
                    type: integer
                    minimum: 1
                    maximum: 9007199254740991
                    description: '`ID` of the `Request`'
                    examples:
                    - 10000
                  status:
                    type: string
                    const: Failed
                  error:
                    anyOf:
                    - type: string
                      const: Data request failed
                    - type: string
                      const: Request timed out
                required:
                - requestId
                - status
                - error
                additionalProperties: false
                description: Data request failed
              - type: object
                properties:
                  requestId:
                    type: integer
                    minimum: 1
                    maximum: 9007199254740991
                    description: '`ID` of the `Request`'
                    examples:
                    - 10000
                  status:
                    type: string
                    const: Finished
                  outputFile:
                    type: string
                    format: uri
                    description: URL to download the data output file
                    examples:
                    - https://nortech-historical-data-euc1.s3.eu-central-1.amazonaws.com/User-10-1713999600/000.parquet
                required:
                - requestId
                - status
                - outputFile
                additionalProperties: false
                description: Data request is finished
      responses:
        '200':
          description: Success
components:
  securitySchemes:
    Bearer_Token:
      type: http
      scheme: bearer
      bearerFormat: JWT
x-tagGroups:
- name: Metadata API v1
  tags:
  - Workspace
  - Asset
  - Division
  - Unit
  - Signal
- name: Signal Data API v1
  tags:
  - Historical Data
  - Live Data
  - MQTT Live Data
  - Import Data
- name: Deriver API v1
  tags:
  - Deriver
